# Dependencies
node_modules

# Discord bot token
token.json

# DS Store binary
*.DS_Store

# Source maps (I guess we can include it later? But the file looks fat to me lol)
build/*.map

# Storage for Node from src/utils/storage.js
node-storage
